:root {
  --color-primary: #55678B;
  --color-primary-light: #AEC2DB;
  --color-secondary: #fff;
  --color-neutral-beige: #ececec;
  --color-red: #ff8a80;
  --color-accent: #85A4A5;

    --font-primary: "Nunito Sans", sans-serif;
    --font-secondary: "Indie Flower", sans-serif;
}

html {
  font-family: var(--font-primary);
}
