:root {
  --color-primary: #55678B;
  --color-primary-light: #AEC2DB;
  --color-secondary: #fff;
  --color-neutral-beige: #F2F2F2;

    --font-primary: "Nunito Sans", sans-serif;
    --font-secondary: "Indie Flower", sans-serif;
}

html {
  font-family: var(--font-primary);
}
