/* Carousel tutorial */
.carousel-items > div {
  display: none;
}

#video-1-control:checked ~ .carousel-inner #video-1,
#video-2-control:checked ~ .carousel-inner #video-2,
#video-3-control:checked ~ .carousel-inner #video-3,
#video-4-control:checked ~ .carousel-inner #video-4,
#video-5-control:checked ~ .carousel-inner #video-5,
#video-6-control:checked ~ .carousel-inner #video-6,
#video-7-control:checked ~ .carousel-inner #video-7,
#video-8-control:checked ~ .carousel-inner #video-8,
#video-9-control:checked ~ .carousel-inner #video-9,
#video-10-control:checked ~ .carousel-inner #video-10 {
  display: block;
}

.carousel-btn {
  border: 4px solid #fff;
  border-radius: 50%;
}

#video-1-control:checked ~ .carousel-inner [for="video-1-control"],
#video-2-control:checked ~ .carousel-inner [for="video-2-control"],
#video-3-control:checked ~ .carousel-inner [for="video-3-control"],
#video-4-control:checked ~ .carousel-inner [for="video-4-control"],
#video-5-control:checked ~ .carousel-inner [for="video-5-control"],
#video-6-control:checked ~ .carousel-inner [for="video-6-control"],
#video-7-control:checked ~ .carousel-inner [for="video-7-control"],
#video-8-control:checked ~ .carousel-inner [for="video-8-control"],
#video-9-control:checked ~ .carousel-inner [for="video-9-control"],
#video-10-control:checked ~ .carousel-inner [for="video-10-control"] {
  background-color: #fff;
}

.carousel-btn:hover {
  background-color: var(--color-primary-light);
  transition: 0.3s;
}
/* End of tuturial */
.carousel {
  width: 100%;
  position: relative;
  background-color: var(--color-accent);
  color: #fff;
}

.carousel iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

@media only screen and (min-width: 10em) {

  .carousel {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

}
/* begin About Me */
.indie-flower {
  font-family: "Indie Flower", sans-serif;
}

.blue-bg {
  background-color: var(--color-primary-light);
}

.white {
  color: #fff;
}
/* hoverbox */
.hover-box {
  color: #fff;
}

.hover-box-caption {
  bottom: -10em;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .3s linear;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  bottom: 0;
}

.hover-box-img {
  filter: none;
  transition: all .3s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: none;
  transform: scale(1.6);
}

.hover-box:focus {
  z-index: 1;
}
/* sections */
.sections {
  background-color: var(--color-neutral-beige);
}
/* colours */
.beige-bg {
  background-color: var(--color-neutral-beige);
}
