.footer {
  background-color: #55678B;
}

.text-white {
  color: #fff;
}

/* begin svg */
.icon-link {
  opacity: 0.5;
  color: #fff;
}

.icon-link:hover {
  opacity: 1;
  transition: 0.5s;
}

.icon-logo {
  color: #fff;
}
