.top-nav {
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

.nav-open:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.top-nav-open:after,
.top-nav-open:before,
.top-nav-open div {
  background-color: #fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: 0.2s;
}

.top-nav:after,
.top-nav:before,
.top-nav div {
  background-color: #AEC2DB;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: 0.5s;
}

.top-nav:hover:before {
  transform: translateY(12px) rotate(135deg);
  background-color: #ff8a80;
}

.top-nav:hover:after {
  transform: translateY(-12px) rotate(-135deg);
  background-color: #ff8a80;
}

.top-nav:hover div {
  transform: scale(0);
}


.top-nav-open {
  background-color: var(--color-primary);
  width: 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  /* added top:5em */
  top: 5em;
}

.top-nav-open:hover:before {
  transform: 0;
}

.top-nav-open:hover:after {
  transform: 0;
}

/* web videos */
.web-btn p {
  background-color: var(--color-primary);
  color: #fff;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 0;
}

.web-btn p:hover {
  background-color: #AEC2DB;
  transition: 0.5s;
  color: var(--color-primary);
}

.web-btn a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background-color: #AEC2DB;
  transition: 0.5s;
  color: var(--color-primary);
  border: none;
}

.btn:hover {
  background-color: #fff;
}

/* For 404 error pages */

.error-404 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
