---
layout: default
---

<title>Maddie Migriño · Case Study</title>
<meta name="description" content="Motion graphics video with sketches and video description.">
<meta name="geo.region" content="ca-on">
<meta name="geo.placename" content="Ottawa">
<meta property="og:type" content="website">
<meta property="og:title" content="Maddie Migriño · Case Study">
<meta property="og:url" content="maddie-migrino.ca">
<meta property="og:locale" content="en_CA">

<div>

  <ul class="skip-links">
    <li><a href="#video">Watch Video</a></li>
    <li><a href="#case-study">Case Study</a></li>
  </ul>

  <div class="gutter wrapper pad-t">
    <div>
      <h1 class="push-0 pad-t text-upper">{{page.name}}</h1>
      <h3 class="push normal">{{page.description}}</h3>
    </div>

    <video class="pad-b-2" width="100%" id="video" controls poster="{{page.thumbnail}}">
      <source src="{{page.video}}" type="video/mp4">
      Portfolio video with case study sketches and description.
    </video>

  </div>

  <div class="beige-bg pad-b" id="case-study">
    <div class="wrapper grid pad-t-2 pad-b-1-2">

      <div class="unit xs-1 gutter pad-b">
        <h3 class="push-1-2 text-upper">About</h3>
        {{page.about|markdownify}}
      </div>

      <div class="unit xs-1 gutter pad-b">
        <h3 class="push-1-2 text-upper">Inspiration</h3>
        {{page.inspiration|markdownify}}
      </div>

      <div class="grid wrapper white-bg pad-t-2 pad-b gutter">
        <div class="unit s-1 m-1-2 hover-box crop pad-b">
          <img class="hover-box-img img-flex island-1-2" src="{{page.image}}" alt="Sketches and planning">
        </div>

        <div class="unit s-1 m-1-2 gutter-1-2">
          <h3 class="push-1-2 text-upper">Planning</h3>
          {{page.plan|markdownify}}
        </div>
      </div>

      <div class="unit xs-1 gutter pad-t">
        <h3 class="push-1-2 text-upper pad-t">Goals & Conclusion</h3>
        {{page.conclusion|markdownify}}
      </div>

    </div>
  </div>

</div>


<script type="application/legend+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Maddie Migrino, Portfolio website",
    "url": "maddie-migrino.ca"
    "description": "Case study page for portfolio website.",
    "keywords": "graphic, design, portfolio, website, motion",
    "author": {
      "type": "Person",
      "@id": "#maddiemigrino"
    }
  }
</script>
