---
layout: default
---

<title>Maddie Migriño · Case Study</title>
<meta name="description" content="Motion graphics video with sketches and video description.">
<meta name="geo.region" content="ca-on">
<meta name="geo.placename" content="Ottawa">
<meta property="og:type" content="website">
<meta property="og:title" content="Maddie Migriño · Case Study">
<meta property="og:url" content="maddie-migrino.ca">
<meta property="og:locale" content="en_CA">

<ul class="skip-links">
  <li><a href="#video" aria-label="Watch the video">Watch the Video</a></li>
  <li><a href="#case-study" aria-label="Read the Case Study">Read the Case Study</a></li>
  <li><a href="/#footer" aria-label="Social media links">Social media</a></li>
  <li><a href="/motion-arts" aria-label="Back to motion graphics page">Back to Motion Graphics page</a></li>
  <li><a href="/" aria-label="Back to home page">Back to Home page</a></li>
</ul>

<div>

  <div class="banner center-content-horizontal" role="banner">
    <img class="img-flex" src="/motion/motion-banners/{{page.banner}}">
  </div>

  <div class="gutter wrapper pad-t">

    <div class="pad-b-1-2">
      <h1 class="push-0 pad-t text-upper">{{page.name}}</h1>
      <h3 class="normal">{{page.description}}</h3>
    </div>

    <video width="100%" id="video" controls poster="{{page.thumbnail}}">
      <source src="{{page.video}}" type="video/mp4">
      Portfolio video with case study sketches and description.
    </video>

    <div class="grid text-center pad-b-2 center-content-horizontal">
      <div class="unit xs-1 s-1-2 island-1-8 web-btn">
        {{page.web-url|markdownify}}
      </div>

      {% for motion-art in site.motion-arts %}
        {% if motion-art.category == 'youtube' %}
          <div  class="unit xs-1 s-1-2 island-1-8 web-btn">
            {{page.youtube|markdownify}}
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  <div class="beige-bg pad-b" id="case-study">
    <div class="wrapper grid pad-t-2 pad-b-1-2">

      <div class="unit xs-1 gutter pad-b">
        <h3 class="push-1-2 text-upper">About</h3>
        {{page.about|markdownify}}
      </div>

      <div class="unit xs-1 gutter pad-b">
        <h3 class="push-1-2 text-upper">Inspiration</h3>
        {{page.inspiration|markdownify}}
      </div>

      <div class="grid wrapper white-bg pad-t-2 pad-b gutter">
        <div class="unit s-1 m-1-2 hover-box crop pad-b">
          <img class="hover-box-img img-flex island-1-2" src="{{page.image}}" alt="Sketches and planning">
        </div>

        <div class="unit s-1 m-1-2 gutter-1-2">
          <h3 class="push-1-2 text-upper">Planning</h3>
          {{page.plan|markdownify}}
        </div>
      </div>

      <div class="unit xs-1 gutter pad-t">
        <h3 class="push-1-2 text-upper pad-t">Goals & Conclusion</h3>
        {{page.conclusion|markdownify}}
      </div>

    </div>
  </div>

</div>


<script type="application/legend+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Maddie Migrino, Portfolio website",
    "url": "maddie-migrino.ca"
    "description": "Case study page for portfolio website.",
    "keywords": "graphic, design, portfolio, website, motion",
    "author": {
      "type": "Person",
      "@id": "#maddiemigrino"
    }
  }
</script>
